* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  
  /* Header/Blog Title */
  .header_div {
    padding:10px;
  }
  
  .header {
    padding: 30px;
    font-size: 60px;
    text-align: center;
    /*background: rgba(251, 251, 251, 0.6);*/
    border-radius: 50px;
  }

  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 50%;
    padding-right: 10px;
    padding: 10px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    border-radius: 50px;
    padding: 20px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.9);
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }

  .article {
    font-family:Arial;
    display:inline;
}

 .Project_type_title {
    text-align: center;
    color:rgb(0, 0, 0);
    text-shadow: 0px 0px 10px white;
    margin: 10px;
    font-size: 3em;
 }
 .github_link_container{
    align-items: center;
 }
.github_link {
    text-align: center;
}
 .github_img{
    background-color: black;
    max-width: 5%;
    height: auto; 
    margin: 0px
 }
 

.badge-primary {
    border-radius: 3px;
    display: inline-flex;
    font-size: 0.8em;
    color: white;
    background-color: rgb(18, 59, 207);
}