html    {
    font-family: 'Courier New', Courier, monospace;
}

body    {
    background-color: #f1ecec;
    font-size: 12px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}